<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Jost:wght@200&family=Inter:wght@200;300;400&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/style.css') }}">
    <title>Conversation Inspection</title>
</head>
<body>

    {% set endpoint = url_for(request.endpoint) %}
    {% if endpoint != '/' %}
    <header>
        <img src="{{url_for('static', filename='./assets/images/company_brand.png')}}" alt="company-logo" class="logo">
    </header>
    {% endif %}

    {% if session.email %}
        <div class="navigate">
            <a href="/search_data" class="analyze-again">Analyze Again?</a>
            <a href="/logout" class="logout">Logout</a>
        </div>
    {% endif %}

    {% block body %}
    {% endblock %}



    <footer>
       <img src="{{url_for('static', filename='./assets/svg/footer-mail.svg')}}" alt="footer-btn-1" class="footer-btn">
       <img src="{{url_for('static', filename='./assets/svg/footer-chat.svg')}}" alt="footer-btn-1" class="footer-btn">

       <h4 class="jost footer-label">Inteliggence made by VLabs</h4>

    </footer>

    <script src="{{url_for('static', filename='./js/script.js')}}"></script>
</body>
</html>