{% extends 'public_layout.html' %}

{% block body %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      
        <li>{{ message }} <img src="{{url_for('static', filename='./assets/images/close.png')}}" alt="close-btn" class="close-btn"></li>

    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}


<div class="running-tab">
    <h1 class="head-running">ALGORITHM IS RUNNING</h1>
    <h5> Vinicius Covas is probably running too....</h5>
    <div class="loader">
      <div class="lds-hourglass"></div> 
  </div>
</div>



{% endblock %}