{% extends 'public_layout.html' %}

{% block body %}


{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul class=flashes>
        {% for message in messages %}
            <li>
                <p>{{ message }}</p>
                <img src="{{url_for('static', filename='./assets/images/close.png')}}" alt="close-btn" class="close-btn">
            </li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<form class="container" method="post" action="/search_data">
    
    <div class="keyword">
        <h3>#Step 1: Insert you Keyword.</h3>
        <input type="text" name="keyword" id="keyword" placeholder="Just write the keyword you are looking for (example: Obama)">
    </div>
    
    
    <div class="location">
        <h3>#Step 2: Where do you want to inspect the conversation?</h3>
        <textarea type="text" name="location" id="location" placeholder="Insert the name of the location where probably this conversation is happening and see how people in this location is creating discussion around the topic you're looking for."></textarea>
    </div>
    
    <div class="date">
        <h3>#Step 3: and when? </h3> <h4>(Please enter current date or any date from last one week only)</h4>
        <input type="date" name="date" id="date">
    </div>
    
    <button type="submit" class="submit-btn-search">START TO INSPECT</button>

    <!-- <div class="loader">
        <p>Please Wait... while the Algorithm is running and fetching results !</p>
        <div class="lds-hourglass"></div> 
    </div> -->




</form>


{% endblock %}